/**************UNIVERSAL**************/
*{
    margin: 0px;
    padding: 0px;
    font-family: Segoe UI;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
	/*pointer-events:none;*/ /*makes everything unclickable*/
/*    scroll-behavior: smooth;*/
}

main{
    min-height: 700px;
}

/********************HEADERGROUP***********************/

/*********** ERROR BOX ***********/
#error_box{
	min-width:100%;
	min-height:100%;
	position:fixed;
	background:rgba(0,0,0,0.8);
}

#error_box #error_box_msg{
	position:fixed;
	background:white;
	min-width:200px;
	min-height:150px;
	top:36%;
	left:42%;
	border-radius:7px;
	text-align:center;
}

#error_box_msg #error_box_msg_header{
	background:rgba(200,0,0,1);
	color:white;
	font-size:18px;
	padding:5px;
	border-radius:7px 7px 0px 0px;
}

#error_box_msg #error_box_msg_btn{
	background:rgba(0,100,0,1);
	color:white;
	padding:10px;
	margin:20px 0px 0px 0px;
	text-align:center;
	border-radius:5px;
	border:0px solid white;
}

/**************FOOTER GROUP********************/
footer{
    height: 500px;
    background: url("../Media/spursfooter.jpg");
    background-repeat: no-repeat;
    background-position: center;
/*    background-attachment: fixed;*/
    background-size: cover;
    border-top: 2px solid #e8491d;
    margin-top: 20px;
    color: white;
    font-family: helvetica;

}

.left, .right{
 margin-top: 30px;   
}

footer .left{
    float: left;
/*    border: 1px solid black;*/
    width: 50%;
}

footer .left h1{
    float: left;
}

footer .left p{
    float: none;
    display: inline-block;
    text-align: left;
}

footer .right{
    float: right;
/*    border: 1px solid black;*/
    width: 50%;
    font-weight: 500;
}