body{
    width: 100%;
}

#side-bar{
/*    border: 1px solid black;*/
    width: 20%;
    float: left;
}

#content{
    border-left:1px solid lightgrey;
    width: 80%;
    float: right;
}

#content #news-header-bar{
    margin-left:20px;
    width:200px;
    background-color:#337ab7;
    color:white;
    padding:10px;
    border-radius:7px;
    text-align:center;
}

#content header{
    padding: 20px;
    font-weight: bold;
}


#content section{
    font-family: Segoe UI;
    font-size: 16px;
    width: 80%;
    margin: 0px auto;
    margin-top: 60px;
}

#content section p{
    line-height: 40px;
}


