main{
	/*border:1px solid black;*/
	width:100%;
	padding:0px;
	margin-bottom:50px;
}

/********* MATCH RESULT AND TEAMS ***********/
.a1{
	border:0px solid black;
	margin:auto;
	width:99.5%;
	height:350px;
	/*padding:10px;*/
	color:white;
	background-image:url("../../Media/match_box_background.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:scroll;
	background-size:cover;
}

.a1 .fader{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.75);
}

.b1{	
	border:0px solid black;
	padding:10px;
	min-height:300px;
}

.b1 .header_box{
	text-align:center;
	font-weight:bold;
	font-family:verdana;	
	font-size:14px;	
}

.c1{ /*match overview here*/
	border:0px solid black;
	padding:5px;
	min-height:250px;
	margin-top:20px;
	overflow:hidden;
	text-align:center;
}

.c1 .home_box, .c1 .away_box{
	/*min-height:180px;*/
}

.c1 .home_box{
	border:0px solid black;
	padding:0px;
	float:left;
	width:40%;
	display:inline-block;
	text-align:right;
	font-weight:bold;
	font-size:17px;
	overflow:hidden;
}

.c1 .away_box{
	border:0px solid black;
	padding:0px;
	float:right;
	width:40%;
	display:inline-block;
	text-align:left;
	font-weight:bold;
	font-size:17px;
	overflow:hidden;
}

.c1 .team_scores{
	border:0px solid black;
	padding:3px;
	width:15%;
	float:none;
	display:inline-block;
	text-align:center;
	padding-top:30px;
	overflow:hidden;
}

.c1 .score_box{
}

/************* LIVE SCORES ************/
.score_box_live{
	overflow:auto;
	/*border:1px solid black;*/
	padding:0px;
	/*border-radius:7px;*/
	color:white;
	font-weight:bold;
	font-size:30px;
}
	
.score_box_live .home_score{
	float:left;
	background-color:#2866f6;
	display:inline-block;
	width:45%;
}

.score_box_live .away_score{
	float:right;
	background-color:#2866f6;
	display:inline-block;
	width:45%;
}


/********************************/

.score_box .away_score, .score_box .home_score, .score_box .KO_time{
	background-color:#ffd230;
	border:1px solid black;
	padding:0px;
	border-radius:7px;
	color:black;
	font-weight:bold;
	font-size:30px;
}

.score_box .home_score{
	float:left;
	display:inline-block;
	width:45%;
}

.score_box .away_score{
	float:right;
	display:inline-block;
	width:45%;
}

.team_scores .time_elapsed{ /*minutes played box*/
	color:#ffd230;
	margin-top:50px;
}

.team_scores .half_time_txt, .team_scores .time_elapsed, .team_scores .half_time_score{
	border:0px solid black;
	display:block;
	float:none;
	clear:both;
	font-weight:bold;
	font-size:16px;
}

.team_scores .half_time_txt{
	margin:10px 0px 2px 0px;
	border-bottom:2px solid white;
}

.team_scores .half_time_score{
	/*font-weight:bold;*/
}

.home_box .home_scorers, .away_box .away_scorers{
	border:0px solid black;
	margin-top:15px;
	overflow:hidden;
	font-size:13px;
	font-weight:100;
	font-family:verdana;
}

/******* END OF  MATCH RESULT AND TEAMS******/


/*************** MATCH FACTS BOX *****************/
.match_facts{
/*    text-align: center;*/
    margin: auto;
    margin-top: 10px;
/*    border: 1px solid black;*/
    min-height: 42px;
    padding: 10px !important;
}

#match_facts_headers{ 
    border: 1px solid lightgrey;
    padding: 0px;
    min-height: 42px;
}

#match_stats, #line_ups{
    display: inline-block;
    text-align: center;
/*    border: 1px solid black;*/
    padding: 10px; 
    font-weight: 600;
    background-color: white;
}

#match_stats{
    float: left;
    width: 50%;
}

#line_ups{
    float: right;
    width: 50%;
}

#match_stats, #line_ups:hover{
    cursor: pointer;
}


/**************** VOTE BOX ********************/

#vote-block{
    width:85%;
	padding:10px;
	margin:auto;
	/* border:1px solid black; */
    margin-bottom:50px;
}

/******** BEFORE VOTE CAST *********/
#vote-block-1{
/*     border: 1px solid black; */
    padding: 5px;
    text-align: center;
}

#vote-block-1 button{
    font-size: 18px;    
    color:white;
    border-radius: 7px;
    font-weight: bold;
}

#vote-block-1 #home-vote{
    width: 30%;
/*    float: left;*/
    background-color: #2b932b;
}

#vote-block-1 #draw-vote{
    width: 30%;
/*    float: both;*/
    background-color: #9d9494c4;
}

#vote-block-1 #away-vote{
    width: 30%;
/*    float: right;*/
    background-color: #337ab7;
}

/******* AFTER CAST **********/
#vote-markers{
    text-align: center;
}

#vote-markers p{
    display: inline-block;
    margin-right: 5px;
}

#vote-block-2{
    /* border:1px solid black; */
    margin-top:0px;
    color:white;
    padding:5px;
}

#vote-block-2 div{
    font-size: 20px;
    text-align: center;
}

#vote-block-2 #home-vote{
    width:34%; /*default width value*/
    background-color:#2b932b;
    display:inline-block;
    float:left;
    padding:0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#vote-block-2 #draw-vote{
    width:33%; /*default width value*/
    background-color: #9d9494c4;
    display:inline-block;
    float:none;
}

#vote-block-2 #away-vote{
    width:33%; /*default width value*/
    background-color: #337ab7;
    display:inline-block;
    float:right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



/****************MATCH STATS BOX GRAPHICS**************/

#bars{
/*    border: 1px solid black;*/
/*    margin-top: 10px;*/
    padding: 10px;
    min-height: 400px;
}

#possession_box,#shots_box,#corners_box,#fouls_box{
/*    border: 1px solid black  ;*/
/*    margin-top: 10px;*/
    margin-bottom: 25px;
}

    #possession_bar,#shots_bar,#corners_bar,#fouls_bar{
/*        border: 1px solid black;*/
        padding: 0px;
        width: 100%;
        margin: 0px auto;
        height: 40px;
        margin-top: -10px;
    }
    
    #away, #home{
/*        border: 1px solid black;*/
        display: inline-block;
        padding: 5px;
        color: white;
        font-weight: 500;        
        font-size: 12px;
        height: 100%;
    }
    
    #away{
        width: 50%;
        float: right;
/*        display: none * WHEN WIDTH = 0% **/
        background-color: royalblue;
        text-align: right;
    }
    
    #home{
        width: 50%;
        float: left;
/*        display: none;* WHEN WIDTH = 0% **/
        background-color: forestgreen;
        text-align: left;
    }   


/**********************LINE UPS***********************/
#bars{
	border:0px solid black;	
	padding:10px;
	margin:auto;
	width:99%;
	height:100%;
	margin-bottom:20px;
	overflow-y:auto;
	overflow-x:hidden;
}

#bars #home_lineup .lineup_player, #bars #away_lineup .lineup_player{
	border: 0px solid black;
	margin:10px;
	overflow-x:hidden; /* hide name if too long */
}

#bars #home_lineup{
	border: 0px solid black;
    float:left;
    width:49%;
    /* min-height:300px; */
	padding:10px;
	text-align:left;
}

#bars #away_lineup{
	border: 0px solid black;
	border-left: 2px solid #e8491d;
    float:right;
    width:50%;
    /* min-height:300px; */
	padding:10px;
	text-align:left;
	/* border-left:1px solid #e8491d; */
}


/*************** COMMENTS BOX ***************/
#comments-box div{
	border:1px solid black; /*comment this later*/
	padding:10px;
}

/*IF CONTENT OVERFLOWS*/
#comments-box, #comments-box #comments-box-insert, #comments-box #comments-box-inner, #comments-box-inner .comments-box-user{
	overflow-x:auto;
}
	
#comments-box{
	border: 1px solid black;
	min-height:250px;
	/*background-color:#221c1a;*/
	/*color:white;*/
	width:90%;
	margin:auto;
    border-top: 3px solid #e8491d;
    /* border-bottom: 3px solid #e8491d; */
    padding:10px;
}

#comments-box #comments-box-header, #comments-box #comments-box-insert, #comments-box #comments-box-inner{
	display:block;
	margin-bottom:15px;
}

#comments-box #comments-box-header{
	/*margin-bottom:15px;*/
	font-size:20px;
	font-weight:bold;	
}

/***** INSERT COMMENTS BOX *****/
#comments-box-insert #insert-comment{
	float:right;
	display:inline-block;
	width:85%;
}

#comment-insert-form #comment-insert-textarea:focus{
	border-bottom:2px solid black;
}

#comment-insert-form div{
	border:0px solid white;
	outline:0px solid white
}

#comment-insert-form #comment-insert-textarea{
	border-bottom:1px solid black;
	margin-bottom:5px;
}



#comments-box #comments-box-insert{
	
}

#comments-box-insert #user-pic{
	float:left;
	display:inline-block;
	width:13%;
}
/*****************************/

#comments-box-inner .comments-box-user .comments-user-pic{
	display:inline-block;
	float:left;
	width:13%;
}

#comments-box-inner .comments-box-user .user-comments-enclosure{
	display:inline-block;
	float:right;
	width:85%;
}

#comments-box-inner .user-comments-enclosure .comments-user-info{
	margin-bottom:10px;
	display:block;
}

#comments-box-inner .user-comments-enclosure .comments-user-comment{
	display:block;
}


/************** MEDIA QUERIES*************/
@media(max-width:750px){
	.c1 .home_box{
		width:35%;
	}
	
	.c1 .away_box{
		width:35%;
	}
	
	.c1 .team_scores{
		width:25%;	
	}
	
}

@media(max-width:480px){
	
	#bars #away_lineup, #bars #home_lineup{
		padding:5px;
	}
	
	#comments-box{
		width:100%;
	}
	
	.score_box .KO_time{
		font-size:25px;
		border-radius:7px;
	}
	
	.score_box_live div{
		font-size:25px;
	}
	
	
}