.match_info{
    margin: auto;
    padding: 5px;
/*    border: 1px solid black;*/
    min-height: 100px;
}

.match_info h5{
    text-align: center;
}

.teams{
/*    border: 1px solid black;*/
    text-align: center;
    padding: 2px;
/*    min-height:100px; */
}


/*************** MATCH RESULT BOX *****************/

#teams-block{
/*    border: 1px solid black;  */
    min-height: 70px;
    padding: 3px;
}

#teams-block div{
    display: inline-block; /*KEEPS BARS IN-LINE*/
}

#teams-block #home-team-bar{
    float: left;
    width: 43%;
    padding: 3px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
/*    border: 1px solid black;    */
}

#teams-block #away-team-bar{
    float: right;
    width: 43%;
    padding: 3px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
/*    border: 1px solid black;*/
}

#teams-block #score-bar{
    float: none;
    width: 14%;
/*    padding: 0px; */
/*    border: 1px solid black;    */
}

#teams-block #score-bar #home-goals{
    float: left;
    width: 48%;    
    background-color: #ffd230;
/*    border: 1px solid black;*/    
}

#teams-block #score-bar #away-goals{
    float: right;
    width: 50%;
    background-color: #ffd230;
/*    border: 1px solid black;*/
}


/*************** MATCH FACTS BOX *****************/

.match_facts{
/*    text-align: center;*/
    margin: auto;
    margin-top: 10px;
/*    border: 1px solid black;*/
    min-height: 42px;
    padding: 10px !important;
}

#match_facts_headers{ 
    border: 1px solid lightgrey;
    padding: 0px;
    min-height: 42px;
}

#match_stats, #line_ups{
    display: inline-block;
    text-align: center;
/*    border: 1px solid black;*/
    padding: 10px; 
    font-weight: 600;
    background-color: white;
}

#match_stats{
    float: left;
    width: 50%;
}

#line_ups{
    float: right;
    width: 50%;
}

#match_stats, #line_ups:hover{
    cursor: pointer;
}


/**************** VOTE BOX ********************/

#vote-block{
    width:100%;
/*    border:1px solid black;*/
    margin-bottom:100px;
}

/******** BEFORE VOTE CAST *********/
#vote-block-1{
/*     border: 1px solid black; */
    padding: 5px;
    text-align: center;
}

#vote-block-1 div{
    font-size: 18px;    
    color:white;
    border-radius: 7px;
    font-weight: bold;
}

#vote-block-1 #home-vote{
    width: 30%;
/*    float: left;*/
    background-color: #2b932b;
}

#vote-block-1 #draw-vote{
    width: 30%;
/*    float: both;*/
    background-color: #9d9494c4;
}

#vote-block-1 #away-vote{
    width: 30%;
/*    float: right;*/
    background-color: #337ab7;
}

/******* AFTER CAST **********/
#vote-markers{
    text-align: center;
}

#vote-markers p{
    display: inline-block;
}

#vote-block-2{
    /* border:1px solid black; */
    margin-top:0px;
    color:white;
    padding:5px;
}

#vote-block-2 div{
    font-size: 20px;
    text-align: center;
}

#vote-block-2 #home-vote{
    width:34%; /*default width value*/
    background-color:#2b932b;
    display:inline-block;
    float:left;
    padding:0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#vote-block-2 #draw-vote{
    width:33%; /*default width value*/
    background-color: #9d9494c4;
    display:inline-block;
    float:none;
}

#vote-block-2 #away-vote{
    width:33%; /*default width value*/
    background-color: #337ab7;
    display:inline-block;
    float:right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



/****************MATCH STATS BOX GRAPHICS**************/

#bars{
/*    border: 1px solid black;*/
/*    margin-top: 10px;*/
    padding: 10px;
    min-height: 400px;
}

#possession_box,#shots_box,#corners_box,#fouls_box{
/*    border: 1px solid black  ;*/
/*    margin-top: 10px;*/
    margin-bottom: 25px;
}

    #possession_bar,#shots_bar,#corners_bar,#fouls_bar{
/*        border: 1px solid black;*/
        padding: 0px;
        width: 100%;
        margin: 0px auto;
        height: 40px;
        margin-top: -10px;
    }
    
    #away, #home{
/*        border: 1px solid black;*/
        display: inline-block;
        padding: 5px;
        color: white;
        font-weight: 500;        
        font-size: 12px;
        height: 100%;
    }
    
    #away{
        width: 50%;
        float: right;
/*        display: none * WHEN WIDTH = 0% **/
        background-color: royalblue;
        text-align: right;
    }
    
    #home{
        width: 50%;
        float: left;
/*        display: none;* WHEN WIDTH = 0% **/
        background-color: forestgreen;
        text-align: left;
    }   


/**********************LINE UPS***********************/

#home_lineup{
/*    border: 1px solid black;*/
    float: left;
    width: 49%;
    min-height: 300px;
}

#away_lineup{
/*    border: 1px solid black;*/
    float: right;
    width: 50%;
     min-height: 300px;
}
