#edit_event{
    border: 0px solid black;    
}

#dates{
    border-top: 1px solid lightgrey !important;
    border-bottom: 1px solid lightgrey !important;
    padding: 0px;
    margin-bottom: 20px;
    width: auto;
    
    /****horizonral scrollbar**/
    overflow: auto;
    white-space: nowrap;
}

#dates button{
    background: white;
    border-right: 1px solid lightgrey !important;
    color: black !important;
    border-radius: 0px;
    padding: 5px 20px 5px 20px;
    color: black;
    margin-left: -4px;    
    height: 50px;
    outline:none;
}

#dates button:hover{
    background-color: lightgray;
    cursor:pointer;
}

#match_event ul{
    border: 0px solid black;
    width: 100%;
}
 
ul li{
    list-style:none;
}

#match_event input{
    border-radius: 4px;
    padding: 3px;
}

#home_team, #away_team{
/*    border:1px solid black;*/
    display:inline-block;
    padding: 3px;
    font-weight:bold;
}

#scores{    
/*    border:0px solid black;*/
    display:inline-block;
    padding: 0px;
    font-weight:bold;
    float:none;
    width:8%;
}